<div class="min-h-screen bg-linear-to-br from-primary/5 via-background to-secondary/5 p-6">
  <div class="mx-auto max-w-5xl">
    <a href="/">
      <button class="mb-4 rounded-full p-2 transition-colors hover:bg-secondary/20 hover:cursor-pointer" data-testid="button-back-contact">
        <i class="ph ph-arrow-left"></i>
        Zurück zur Startseite
      </button>
    </a>
  </div>

  <div class="zeeg-inline-widget" id="zeeg-embed-buchstabenfeder" style="width: auto; height: 800px"></div>
  <script type="text/javascript" src="https://assets.zeeg.me/embed.min.js" data-user="buchstabenfeder" async></script>
</div>

