@import "tailwindcss";

@custom-variant hover (&:hover);

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-hand: var(--font-hand);
  --font-quote: var(--font-quote);
}

:root {
  --background: #f5f1ed;
  --foreground: #333333;

  /* --primary: #c98e52; */
  --primary: #bbb791;
  --primary-foreground: 25 10% 20%;

  --secondary: #8d8173;
  --secondary-foreground: 140 30% 25%;

  --card: #ffffff;
  --card-foreground: 25 10% 30%;

  --popover: 0 0% 100%;
  --popover-foreground: 25 10% 30%;

  --muted: 40 20% 90%;
  --muted-foreground: 25 10% 50%;

  --accent: #c98e52;
  --accent-foreground: 25 10% 30%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;

  --border: 40 20% 90%;
  --input: 40 20% 90%;
  --ring: 6 78% 75%;

  --radius: 1rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-semibold tracking-tight;
  }
}

button,
a,
nav,
[role="button"],
.no-select {
  @apply select-none;
}

[role="presentation"],
.pointer-none,
svg[aria-hidden="true"] {
  pointer-events: none;
}

.absolute.blur-3xl,
[class*="blob"],
[class*="pattern"] {
  @apply pointer-events-none;
}

svg:not([role="img"]) {
  pointer-events: none;
}

.font-hand {
  font-family: var(--font-hand);
}
