<section class="relative bg-white/50 px-6 py-24 md:px-12 lg:px-24" id="features">
  <div class="mx-auto max-w-7xl flex flex-col justify-center gap-12">
    <div class="space-y-4 text-center">
      <span class="font-hand text-primary text-xl md:text-2xl">Hand aufs Herz</span>
      <h2 class="font-heading text-foreground text-3xl font-bold md:text-5xl mt-2">
        Gutes Marketing braucht kein Megafon
      </h2>
    </div>

    <p class="text-center text-lg md:text-xl">
      ... denn niemand wird gerne in der Food-Gasse in ein Restaurant gezerrt<br />oder mit Fachbegriffen
      vollgeblubbert.
    </p>

    <div class="relative self-center flex flex-col gap-4">
      <h3 class="font-quote text-foreground/80 text-3xl leading-relaxed md:text-4xl" data-testid="text-quote">
        People prefer to say "yes" to those they know and like.
      </h3>

      <div class="font-heading text-primary font-bold self-end">
        — Robert B. Cialdini, Professor und Psychologe für Marketing
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <p class="mx-auto text-lg md:text-xl text-muted-foreground md:text-center">
        Genau hier setzt meine Arbeit an: Ich schreibe keine starren Informationstexte oder reihe bloß Wörter
        aneinander.
        <br />
        Ich möchte, dass Menschen auf dich stoßen und denken <span class="font-bold"
          >„Hier fühle ich mich gut aufgehoben“</span
        > oder „Oh ja, das ist es!“
        <br />
        – denn dann ist eine <span class="font-bold">Anfrage keine Hürde</span> mehr, sondern eine emotionale Konsequenz.
      </p>

      <p class="mx-auto text-lg md:text-xl text-muted-foreground md:text-center">
        Es gibt da draußen die <span class="font-bold">richtigen Menschen für dein Angebot</span>. Es ist Zeit, dass du
        von ihnen gesehen wirst:
        <br />
        Lass‘ uns gemeinsam die Brücke zwischen „Klingt ganz nett“ und einem ehrlichen „Fühlt sich richtig an!“ bauen.
      </p>
    </div>
  </div>
</section>
