---
import Footer from "../footer.astro";
import { Navigation } from "../navigation";
import Hero from "./hero.astro";
import Quote from "./quote.astro";
import Path from "./path.astro";
import Facts from "./facts.astro";
---

<div class="bg-background selection:bg-primary/20 selection:text-primary-foreground min-h-screen">
  <Navigation client:load />
  <Hero />
  <Quote />
  <Path />
  <Facts/>
  <Footer />
</div>
