---
import { Image } from "astro:assets";
import Text from "@components/ui/text.astro";
import Stack from "@components/ui/stack.astro";
import { Deycrpt } from "@components/ui/decrypt";
import { DencryptButton } from "./ui/button-deycrpt";
import portrait from "../assets/portrait.jpg";

import {
  getLangFromUrl,
  useTranslations,
} from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="flex flex-col lg:flex-row gap-12 w-full justify-center mt-14 md:mt-24"
>
  <Stack spacing={8} class="flex-1">
    <Text class="text-lg lg:text-xl">{t("hero.intro")}</Text>

    <h1 class="text-4xl md:text-7xl text-primary font-bold">
      <Deycrpt client:only="react" className="hidden md:block">
        Frederic Bahr
      </Deycrpt>
      <span class="md:hidden"> Frederic Bahr </span>
    </h1>

    <Text class="text-lg lg:text-xl max-w-3xl">
      {t("hero.description")}
    </Text>

    <a href="/contact">
      <DencryptButton
        className="self-center lg:self-start"
        label={t("hero.contact")}
        client:load
      />
    </a>
  </Stack>

  <div class="lg:min-w-100 self-center">
    <Image
      class="w-70 h-auto object-contain rounded-xl"
      src={portrait}
      alt="Portait von Frederic Bahr."
    />
  </div>
</div>
