---
import Button from "../ui/button.astro";
---

<section class="relative bg-white/50 px-6 py-24 md:px-12 lg:px-24">
  <div class="mx-auto max-w-7xl flex flex-col justify-center gap-12">
    <div class="space-y-4 text-center">
      <span class="font-hand text-primary text-xl md:text-2xl">Deine neuen Texte warten auf dich</span>
      <h2 class="font-heading text-foreground text-3xl font-bold md:text-5xl mt-2">Lust auf eine Zusammenarbeit?</h2>
    </div>

    <div class="flex flex-col gap-6">
      <div>
        <p class="text-center text-lg md:text-xl">Also… ich schon!</p>

        <p class="mx-auto text-lg md:text-xl text-muted-foreground md:text-center">
          Buche dir jetzt deinen Termin und hol‘ dir schon ganz bald deine neuen Texte. Wir sehen uns im Call.
        </p>
      </div>

      <div class="flex flex-col gap-0 self-center">
        <Button href="/kontakt" title="Zum Wortwechsel-Schnack" class="px-8 py-2 text-md md:text-lg">
          Zum Wortwechsel-Schnack
        </Button>

        <p class="italic text-sm mt-2 text-center md:text-start">Kostenfreier und unverbindlicher Kennenlern-Call</p>
      </div>
    </div>
  </div>
</section>
