<span
  class="absolute left-10 top-1/2 -translate-y-1/2
                 opacity-0 group-hover:opacity-100
                 transition-opacity duration-200
                 whitespace-nowrap
                 bg-gray-800 text-white text-sm
                 px-2 py-1 rounded
                 pointer-events-none"
>
  <slot />
</span>
