---
import { cn } from "@lib/utils";

interface ButtonProps {
  class?: string;
}

const { class: className } = Astro.props as ButtonProps;
---

<button
  class={cn(
    `cursor-pointer rounded-sm bg-accent px-6 py-2 font-bold text-background text-sm shadow-md transition-colors hover:bg-accent/90 ${className}`,
  )}
>
  <slot />
</button>
